*.pyc
*.o
*.swp
/env/
vim/.vim/bundle
.netrwhist
bin/bin/lx-old
bin/bin/ngrok
bin/bin/mkg
bin/bin/rg
bin/bin/fak
bin/bin/protonum
bin/bin/wim
bin/bin/wim-key
.config/walrus/*
.config/asciinema/*
.config/op/*
.config/gcloud/*
.config/k9s/*
.config/btop/*
.config/clojure/*
.config/github-copilot
.config/glab-cli/*
.config/htop/*
.config/iterm2/*
.config/karabiner/*
.config/karabiner/**
.config/kitty/*
.config/nvim/spell
.config/pip/*
.config/swiftpm/*
.config/zed/*
.config/zed/.*
