*.pyc
*.o
*.swp
/env/
vim/.vim/bundle
.netrwhist
bin/bin/lx-old
bin/bin/ngrok
bin/bin/mkg
bin/bin/rg
bin/bin/fak
bin/bin/protonum
bin/bin/wim
bin/bin/wim-key
.config/asciinema/*
.config/btop/*
.config/glab-cli/*
.config/htop/*
.config/iterm2/*
.config/karabiner/*
.config/karabiner/**
.config/pip/*
.config/zed/.*
.config/zed/*
.config/kitty/*
