! Xft --------------------------------------------------
Xft.dpi:       140
Xft.autohint:  0
Xft.antialias: 1
Xft.hinting:   1
Xft.rgba:      rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xmessage*font: xft:Lato:pixelsize=24:antialias=true:hinting=true
