[user]
	email = williambbradley@gmail.com
	name = Will Bradley
	signingKey = 6AD47A807E525EF1!
[log]
  showSignature = false
[commit]
  gpgsign = true
[color]
  diff = always
  ui = true
[core]
  editor = vim
	excludesfile = ~/.gitignore
[push]
  default = simple
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[alias]
  tagcommit = rev-list -n 1
  ls-ignored = ls-files . --ignored --exclude-standard --others
  ls-untracked = ls-files . --exclude-standard --others
[showbranch]
  default = --topo-order
  default = heads/*
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[init]
	defaultBranch = main
[mergetool "sourcetree"]
	cmd = "vimdiff "
	trustExitCode = true
[credential "https://dev.azure.com"]
	useHttpPath = true
