[user]
	email = williambbradley@gmail.com
	name = Will Bradley
[log]
  showSignature = false
[color]
  diff = always
  ui = true
[core]
  editor = vim
	excludesfile = ~/.gitignore
[push]
  default = simple
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[merge]
  # ff = only
  tool = nvim
[alias]
  cleanup-merged = "!git branch --merged main | grep -E -v '(^\\*|main|testnet|devnet|\\+)' | xargs git branch -d"
  cleanup-tracking = "!git fetch --prune && git branch --v | grep '\\[gone\\]' | awk '{print $1}' | xargs git branch -D"
  cleanup = "!git cleanup-merged && git cleanup-tracking"
  tagcommit = rev-list -n 1
  ls-ignored = ls-files . --ignored --exclude-standard --others
  ls-untracked = ls-files . --exclude-standard --others
[showbranch]
  default = --topo-order
  default = heads/*
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[init]
	defaultBranch = main
[mergetool]
  keepBackup = false
[mergetool "nvim"]
	cmd = /opt/homebrew/bin/nvim \"$MERGED\"
	trustExitCode = true
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = store
[commit]
	verbose = true
